@charset "utf-8";
/* CSS Document */

body{
	background-image:url("images/mainahri.jpg");
	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: center;
  	margin-top: 20px;
  	height: 100vh;
}
#logo{
}
#playnow{
	position:fixed;
	top:80%;
	left:50%;
}playnow:hover{
	cursor:  pointer;
}
#top{
	width:100%;
	height:auto;
	margin:10px;
	position: relative;
	text-align: center;
}#top:hover{
	cursor: pointer;
}
#main{
	width: 1600px;
	height: auto;
	
}